<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Font Awesome link -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>

    <!-- Navigation for future reference -->
    <main class="main-content">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav navbar-left">
        <li class="list-item"><a class="fa fa-home" href="/">Home</a></li>
        <li class="list-item"><a class="fa fa-facebook" href="/login">Sign In</a></li>
      </ul>
    </nav>
