<%- include partials/header.ejs %>
<div class="container well">
    <h1><%= title %></h1>
    <p>This is where our data's going to go!</p>
    <div class="row">
      <!-- Our posts/updates should appear here -->

    </div>
</div>
  </body>
</html>
